<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header>
        <h4>Ausencias por persona</h4>
      </nb-card-header>
      <nb-card-body>
        <div class="col-sm-12 col-md-6" style="float: right; padding-bottom: 1.5%;">
          <div class="input-group">

            <input type="text" class="form-control" name="buscar" [(ngModel)]="buscar" placeholder="Buscar...">

            <div class="input-group-prepend">
              <span class="input-group-text color-icon text-light" id="basic-addon1">
                <i class="fa fa-search"></i>
              </span>
            </div>

            <div class="input-group-btn search-panel">
              <select class='form-control' id="dropdownbox" required [(ngModel)]='opcionSeleccionada'>
                <option class='opcion  bg-light text-dark' *ngFor='let opcion of opciones' [value]="opcion" title="Seleccionar opción de busqueda">{{opcion}}</option>
              </select>
            </div>

          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cédula</th>
              <th>Motivo</th>
              <th>Horas utilizadas</th>
              <th>Puesto</th>
              <th>Justificación</th>
              <th>Fecha</th>
              <th>Detalles</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of ausenciasFuncionarios | filtroReportes:buscar:opcionSeleccionada | paginate: { itemsPerPage: 6, currentPage: p }">
              <td>{{data.nombre_funcionario}}</td>
              <td>{{data.cedula}}</td>
              <td>{{data.motivo}}</td>
              <td>{{data.horas_utilizadas}}</td>
              <td>{{data.puesto}}</td>
              <td>{{data.justificacion}}</td>
              <td>{{data.fecha}}</td>
              <td *ngIf="data.motivo === 'Incapacidad'">
                <button class="btn btn-info" (click)="mostrarDetalleIncapacidad(data.doctor, data.numero_boleta)">
                  <span class="fa fa-info"></span> </button>
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
      <nb-card-footer>
        <pagination-controls class="my-pagination pagination justify-content-center" maxSize="9" (pageChange)="p = $event"
          autoHide="true" previousLabel="Anterior" nextLabel="Siguiente"></pagination-controls>
      </nb-card-footer>
    </nb-card>
  </div>
</div>