.motivos-container{
    height: 100%; 
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3%;
    overflow-y: scroll;
}

.ct-label{
    font-size: 10rem;
}

#fecha {
    color: black;
}