<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>

      <nb-card-header>Modificar Servicio</nb-card-header>

      <nb-card-body>
        <form [formGroup]="modificarForm" (ngSubmit)="onSubmit(modificarForm.value)" ngNativeValidate>

          <div class="form-group" *ngFor='let hero of myItems'>
            <label class="col-md-4 control-label" for="nombre_input">Nombre</label>
            <div class="col-md-12">
              <input [formControl]="modificarForm.get('nombre_input')" id="nombre_input" name="nombre_input" type="text"
                     placeholder="Nombre" class="form-control input-md" ngModel={{hero.nombre}} required="" maxlength="20">
            </div>
          </div>

          <div class="form-group" *ngFor='let hero of myItems'>
            <label class="col-md-4 control-label" for="codigo_input">Codigo</label>
            <div class="col-md-12">
              <input [formControl]="modificarForm.get('codigo_input')"  id="codigo_input" name="codigo_input" type="text"
                     placeholder="Código" class="form-control input-md" ngModel={{hero.codigo}} required="">
            </div>
          </div>

          <div class="form-group" *ngFor='let hero of myItems'>
            <label class="col-md-4 control-label" for="descripcion_input">Descripción</label>
            <div class="col-md-12">
              <textarea [formControl]="modificarForm.get('descripcion_input')" id="descripcion_input" name="descripcion_input" type="text"
                        placeholder="Descripción" class="form-control input-md"  ngModel={{hero.descripcion}} required="" maxlength="150" rows="4">
              </textarea>
            </div>
          </div>
          <br>
          <br>
          <button type="button" class="btn btn-primary" title="Cancelar" (click)="cancelar()">Cancelar</button>
          <button type="submit" title="Modificar" class="btn btn-primary">Modificar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>
