
<div class="row">
      <div class="col-12 col-md-12">
            <nb-card>
                  <nb-card-header>Oops! Something went wrong on the page.</nb-card-header>
                  <nb-card-body class="block_error">
                        <p>This page didn't load the information correctly. We can find the page you're looking for</p>
                  </nb-card-body>
                  <nb-card-footer>
                        <a class="btn btn-primary btn-xs" href="http://localhost:4200/#/ser/puestos/lista-puestos">
                              <i class="fas fa-arrow-left fa-lg"></i>
                        </a>
                  </nb-card-footer>
            </nb-card>
      </div>
</div>