.table {
      text-align: center;
}
    
.table th {
      border-top: none;
}

.my-pagination /deep/ .ngx-pagination a:hover {
      text-decoration: none;
      color: black;
}

.dropdownboxClass select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      color: white;
      background-color: #428bca;
      border-color: #428bca;
}

.color-icon {
      background-color: #428bca;
      border-color: #428bca;
}
