<toaster-container [toasterconfig]="config"></toaster-container>
<div class="row">
  <div class="col-12 col-md-12">
    <nb-card>
      <nb-card-header><h2>Solicitar Horas Extra Adicionales</h2></nb-card-header>
      <nb-card-body>

          <div class="row">
            <div class="button-group col">
              <button class="float-left btn btn-success" (click)="abrirModal(null)" title="Agregar">
                <span>Agregar</span>
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

        <div class=" bg-light border info-box">
          <div class="row">
            <div class="col text-left">Hospital San Carlos Unidad Ejecutora 2401</div>
            <div class="col text-right">Solicitud Tiempo Extraordinario</div>
          </div>
          <div class="row">
            <div class="col text-left">Servicio: {{this.nombreServicio}}</div>
            <div class="col text-right">Extras para el mes: {{fechaAnterior | date:"MM/yyyy"}} </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th class="align-middle text-center" rowspan="4">Operaciones</th>
                <th class="align-middle text-left" scope="col" rowspan="4">Cantidad de empleados</th>
                <th class="align-middle text-left" scope="col" rowspan="4">Descripción por perfil de puesto</th>
                <th class="align-middle text-center" colspan="7">Horas y montos solicitados</th>
                <th class="align-middle text-left" rowspan="4">Justificación</th>
              </tr>
              <tr>
                <th class="align-middle text-center" colspan="3">Horas presupuestadas</th>
                <th class="align-middle text-center" colspan="2" >Horas</th>
                <th class="align-middle text-center" colspan="2">Costo</th>
              </tr>
              <tr>
                <th class="align-middle text-left" rowspan="2" >Total anual</th>
                <th class="align-middle text-left" rowspan="2" >Promedio mensual</th>
                <th class="align-middle text-left" rowspan="2" >Saldo a:</th>
                <th class="align-middle text-left" >Autorizadas</th>
                <th class="align-middle text-left" >Adicionales</th>
                <th class="align-middle text-left" rowspan="2">Promedio por hora</th>
                <th class="align-middle text-left" rowspan="2">Total Estimado</th>
              </tr>
              <tr>
                <th class="align-middle text-left" >{{fechaAnterior | date:"MM/yy"}}</th>
                <th class="align-middle text-left" >{{fechaAnterior | date:"MM/yy"}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitud of this.solicitudesHePuesto; let i = index">
                <td class="align-middle">
                  <div class="btn-group" role="group">
                    <button type="button" class="btn btn-primary" (click)="abrirModal(solicitud.id_puesto)" title="Editar"><i class="fas fa-pencil-alt"></i></button>
                    <button type="button" class="btn btn-danger" (click)="eliminar(i)" title="Eliminar"><i class="fa fa-trash"></i></button>
                  </div>
                </td>
                <td class="align-middle text-center">{{solicitud.cantidad_empleados}}</td>
                <td class="align-middle text-justify">{{solicitud.nombre}}</td>
                <td class="align-middle text-center">{{solicitud.horas_anuales}}</td>
                <td class="align-middle text-center">{{solicitud.promedio_horas}}</td>
                <td></td>
                <td class="align-middle text-center">{{solicitud.horas_autorizadas_mes_anterior}}</td>
                <td class="align-middle text-center">{{solicitud.horas_solicitadas}}</td>
                <td class="align-middle text-center">{{solicitud.promedio_salarial}}</td>
                <td class="align-middle text-center">{{solicitud.horas_solicitadas*solicitud.promedio_salarial}}</td>
                <td class="align-middle text-justify">{{solicitud.justificacion}}</td>
              </tr>
            </tbody>
            <tfoot class="w-100">
              <tr>
                  <td colspan="11">
                    <form #formSolicitud="ngForm">
                      <div class="form-group">
                          <label for="observaciones"><b>Observaciones</b></label>
                          <textarea type="text" class="form-control" id="observaciones" name="observaciones" [(ngModel)]="this.observaciones" required #observacion='ngModel'></textarea>
                          <div *ngIf="observacion.invalid && (observacion.dirty || observacion.touched)">
                            <small *ngIf="observacion.errors.required" class="form-text text-muted text-danger align-left">Por favor indique las observaciones pertinentes</small>
                          </div>
                      </div>
                    </form>
                  </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class=" bg-light border info-box">
          <div class="row">
            <div class="col text-left">Solicitante: {{this.jefeServicio}}</div>
            <div class="col text-right">Fecha de solicitud</div>
          </div>
          <div class="row">
            <div class="col text-left">Jefe de {{this.nombreServicio}}</div>
            <div class="col text-right">{{this.fechaActual | date:"dd/MM/yyyy"}}</div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <div class="clear-fix">
          <button type="button" class="btn btn-primary float-right" (click)="enviarSolictud()"  [disabled]="formSolicitud.invalid || this.estado" title="Enviar">
            <i class="fas fa-paper-plane"></i>
            <span>Enviar</span>
          </button>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>